.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-color: black;
    color: whitesmoke;
  }
  
  .dndflow aside {
    padding: 15px 10px;
    font-size: 12px;
  }
  
  .dndflow .dndnode {
    height: 80px;
    padding: 8px;
    border: 3px solid #1a192b;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: 20px;
  }
  
  .dndflow .dndnode.input {
    border-color: greenyellow;
    color: whitesmoke;
  }
  
  .dndflow .dndnode.output {
    border-color: #ff0072;
    color: whitesmoke;
  }

  .dndflow .dndnode.api {
    border-color:#0041d0;
    color: whitesmoke;
  }

  .dndflow .dndnode.form-node {
    border-color: orangered;
    color: whitesmoke;
  }

  .dndflow .dndnode {
    border-color: whitesmoke;
    color: whitesmoke;
  }

  .input-field {
    background-color: black;
  }
  
  .ck-editor__editable_inline {
    color: black;
  }

  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
    width: 100%;
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }

  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 400px;
      margin-left: 10%;
      height: 100%;
    }
  }

  .react-flow .react-flow__handle {
    width: 30px;
    height: 14px;
    border-radius: 3px;
    background-color: #784be8;
  }
  
  .react-flow .react-flow__handle-top {
    top: -10px;
  }
  
  .react-flow .react-flow__handle-bottom {
    bottom: -10px;
  }
  
  .react-flow .react-flow__edge path,
  .react-flow__connectionline path {
    stroke-width: 2;
  }
  
  .wrapper {
    flex-grow: 1;
    height: 100%;
  }

.settings {
  margin-left: 90%;
  cursor: pointer;
  color: whitesmoke;
}

.ck .ck-reset .ck-editor .ck-rounded-corners {
  height: 500px;
}

.react-flow{
  --bg-color: rgb(17, 17, 17);
  --text-color: rgb(243, 244, 246);
  --node-border-radius: 10px;
  --node-box-shadow: 10px 0 15px rgba(42, 138, 246, 0.3),
    -10px 0 15px rgba(233, 42, 103, 0.3);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.react-flow__node-custom {
  border-radius: var(--node-border-radius);
  display: flex;
  font-family: 'Fira Mono', Monospace;
  font-weight: 800;
  letter-spacing: -0.2px;
  box-shadow: var(--node-box-shadow);
}

.react-flow__node-custom .wrapper {
  overflow: hidden;
  display: flex;
  padding: 2px;
  position: relative;
  border-radius: var(--node-border-radius);
  flex-grow: 1;
}

.gradient:before {
  content: '';
  position: absolute;
  padding-bottom: calc(100% * 1.41421356237);
  width: calc(100% * 1.41421356237);
  background: conic-gradient(
    from -160deg at 50% 50%,
    #e92a67 0deg,
    #a853ba 120deg,
    #2a8af6 240deg,
    #e92a67 360deg
  );
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.react-flow__node-custom.selected .wrapper.gradient:before {
  content: '';
  background: conic-gradient(
    from -160deg at 50% 50%,
    #e92a67 0deg,
    #a853ba 120deg,
    #2a8af6 240deg,
    rgba(42, 138, 246, 0) 360deg
  );
  animation: spinner 4s linear infinite;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: -1;
}

@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.react-flow__node-custom .inner {
  background: var(--bg-color);
  padding: 16px 20px;
  border-radius: var(--node-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

.react-flow__node-custom .icon {
  margin-right: 8px;
}

.react-flow__node-custom .body {
  display: flex;
}

.react-flow__node-custom .title {
  font-size: 16px;
  margin-bottom: 2px;
  line-height: 1;
}

.react-flow__node-custom .subline {
  font-size: 12px;
  color: #777;
}

.react-flow__handle.source {
  right: -10px;
}

.react-flow__handle.target {
  left: -10px;
}

.react-flow__node:focus {
  outline: none;
}

.react-flow__edge .react-flow__edge-path {
  /* stroke: url(#edge-gradient); */
  stroke-width: 2;
  stroke-opacity: 0.75;
}

.react-flow__controls button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #95679e;
  border-bottom: none;
}

.react-flow__controls button:hover {
  background-color: rgb(37, 37, 37);
}

.react-flow__controls button:first-child {
  border-radius: 5px 5px 0 0;
}

.react-flow__controls button:last-child {
  border-bottom: 1px solid #95679e;
  border-radius: 0 0 5px 5px;
}

.react-flow__controls button path {
  fill: var(--text-color);
}

.react-flow__attribution {
  background: rgba(200, 200, 200, 0.2);
}

.react-flow__attribution a {
  color: #95679e;
}

.custom-handle {
  width: 10px;
  height: 20px;
  background-color: #805ad5 !important;
}

.divider {
  width: 100%;
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
} 

.large-radio {
  width: 13px; 
  height: 13px; 
  transform: scale(1.5); 
}

.large-checkbox {
  width: 12px; 
  height: 12px; 
  transform: scale(2);
  margin-right: 20px; 
}

.ck-content {
  height: 200px;
  overflow-y: auto;
}
