.flow-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%; 
    padding: 20px;
    border-right: 2px solid rgb(246, 243, 243);
  }
  
  .dndnode {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    margin-bottom: 10px; 
    max-height: 70px;
  }
  
  .dndnode > div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 100%; 
  }
  
  .dndnode .icon {
    margin-right: 10px;
  }
  
  .dndnode p {
    margin: 0;
    font-size: 14px;
    color: #d9d3d3;
    text-align: left; 
  }
  
  .dndflow aside .description {
    margin-bottom: 30px;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    margin-left: 18%;
    display: flex;
    top: 0;
  }
  